body{
    background-color: beige;
    margin-left: 50px;
}
.answers{
    color: red;
    font-size: large;
    margin-left: 20px;
}
label {
    #padding: 10px;
}
.questions {
    font-size: x-large;
}
h1 {
    font-family: cursive;
}