<!DOCTYPE html>
<html>
<title>Trivia</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/home2.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body, h1,h2,h3,h4,h5,h6 {font-family: cursive;}
.w3-row-padding img {margin-bottom: 12px}
.w3-sidebar {width: 120px;background: #222;}
#main {margin-left: 120px}
#enlarge_text{font-size: x-large;font-weight: bolder;}
</style>
<body class="w3-black">
<!-- Icon Bar (Sidebar - hidden on small screens) -->
<nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
  <!-- Avatar image in top left corner -->
  <img src="https://thumbs.dreamstime.com/b/conceptual-hand-writing-text-caption-inspiration-showing-trivia-concept-unimportant-quiz-fun-love-written-sticky-note-105176320.jpg" style="width:100%">
  <a href="#" class="w3-bar-item w3-button w3-padding-large w3-black">
    <i class="fa fa-user w3-xxlarge"></i>
    <p>Profile</p>
  </a>
  <a href="#quizzes" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-play w3-xxlarge"></i>
    <p>Start A Quiz</p>
  </a>
  <a href="#stats" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-eye w3-xxlarge"></i>

    <p>Stats</p>
  </a>
  <a href="#top5" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-trophy w3-xxlarge"></i>
    <p>Top 5</p>
  </a>
  <a href="/" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-sign-out w3-xxlarge"></i>
    <p>Sign Out</p>
  </a>
</nav>
<!---->
<!-- Page Content -->
<div class="w3-padding-large" id="main">
  <!-- Header/Home -->
  <header class="w3-container w3-padding-32 w3-center w3-red" id="home">
    <h1 class="w3-jumbo w3-text-black"><span class="w3-hide-small ">Welcome</span> {{item.get('username')}}</h1>
    <p id="enlarge_text" class ="w3-text-black">Are You Ready To See How Smart You Are?</p>
  </header>

  <!-- About Section -->
  <div class=" w3-justify w3-text-black w3-red" id="quizzes" style="height:270px">
    <h2 class="w3-text-black" style="text-align: center; font-size: xxx-large;">Choose a category</h2>
    <hr style="width:200px; margin-left: 39%; color: black;">
      <div class="ranking" style="margin-top:50px;" >
        <button class="categories" onclick="location.href = '/profile/{{item.get('username')}}/quiz/Sports';">Sports</button>
        <button class="categories" onclick="location.href = '/profile/{{item.get('username')}}/quiz/Celebrities';" >Celebrities</button>
        <button class="categories" onclick="location.href = '/profile/{{item.get('username')}}/quiz/Politics';">Politics</button>
        <button class="categories" onclick="location.href = '/profile/{{item.get('username')}}/quiz/History';">History</button>
      </div>
</div>

  <!-- End About Section -->

  <!-- Start Stats Section-->

  <div class="w3-justify w3-text-black w3-red" id="stats">
    <h2 style="text-align:center; font-size:xxx-large;">Here Are Your Top 5 In All Categories</h2>
    <hr style="width:200px; margin-left: 39%; color: black;" class="w3-opacity">

    <div class="ranking">
      <div class="categories_rank">
        <h2>Sports</h2>
        <ol>
          <li>{{'Your Score' + ": " + user_sports[0].get('score',"-")}}</li>
          <li>{{'Your Score' + ": " + user_sports[1].get('score',"-")}}</li>
          <li>{{'Your Score' + ": " + user_sports[2].get('score',"-")}}</li>
          <li>{{'Your Score' + ": " + user_sports[3].get('score',"-")}}</li>
          <li>{{'Your Score' + ": " + user_sports[4].get('score',"-")}}</li>
        </ol>
      </div>
      <div class="categories_rank">
        <h2>Politics</h2>
        <ol>
          <li>{{'Your Score' + ": " + user_politics[0].get('score',"-")}}</li>
          <li>{{'Your Score' + ": " + user_politics[1].get('score',"-")}}</li>
          <li>{{'Your Score' + ": " + user_politics[2].get('score',"-")}}</li>
          <li>{{'Your Score' + ": " + user_politics[3].get('score',"-")}}</li>
          <li>{{'Your Score' + ": " + user_politics[4].get('score',"-")}}</li>
        </ol>
      </div>
      <div class="categories_rank">
        <h2>History</h2>
        <ol>
          <li>{{'Your Score' + ": " + user_history[0].get('score',"-")}}</li>
          <li>{{'Your Score' + ": " + user_history[1].get('score',"-")}}</li>
          <li>{{'Your Score' + ": " + user_history[2].get('score',"-")}}</li>
          <li>{{'Your Score' + ": " + user_history[3].get('score',"-")}}</li>
          <li>{{'Your Score' + ": " + user_history[4].get('score',"-")}}</li>
        </ol>
      </div>
      <div class="categories_rank">
        <h2>Celebrities</h2>
        <ol>
          <li>{{'Your Score'+ ": " + user_celebrities[0].get('score',"-")}}</li>
          <li>{{'Your Score'  + ": " + user_celebrities[1].get('score',"-")}}</li>
          <li>{{'Your Score' + ": " + user_celebrities[2].get('score',"-")}}</li>
          <li>{{'Your Score' + ": " + user_celebrities[3].get('score',"-")}}</li>
          <li>{{'Your Score' + ": " + user_celebrities[4].get('score',"-")}}</li>
        </ol>
      </div>
    </div>

  </div>

  <!-- End Stats Section-->


  <!-- Ranking Section -->

  <div class="w3-justify w3-text-black w3-red" id="top5">
    <h2 style="text-align:center;font-size:xxx-large;">Can You Beat These Highscores?</h2>
    <hr style="width:200px; margin-left: 39%; color: black;" class="w3-opacity">

    <div class="ranking">
      <div class="categories_rank">
        <h2>Sports</h2>
        <ul>
          <li>{{sports[0].get('user_id', "") + ": " + sports[0].get('score',"")}}</li>
          <li>{{sports[1].get('user_id', "") + ": " + sports[1].get('score',"")}}</li>
          <li>{{sports[2].get('user_id', "") + ": " + sports[2].get('score',"")}}</li>
          <li>{{sports[3].get('user_id', "") + ": " + sports[3].get('score',"")}}</li>
          <li>{{sports[4].get('user_id', "") + ": " + sports[4].get('score',"")}}</li>
        </ul>
      </div>
      <div class="categories_rank">
        <h2>Politics</h2>
        <ul>
          <li>{{politics[0].get('user_id', "") + ": " + politics[0].get('score',"")}}</li>
          <li>{{politics[1].get('user_id', "") + ": " + politics[1].get('score',"")}}</li>
          <li>{{politics[2].get('user_id', "") + ": " + politics[2].get('score',"")}}</li>
          <li>{{politics[3].get('user_id', "") + ": " + politics[3].get('score',"")}}</li>
          <li>{{politics[4].get('user_id', "") + ": " + politics[4].get('score',"")}}</li>
        </ul>
      </div>
      <div class="categories_rank">
        <h2>History</h2>
        <ul>
          <li>{{history[0].get('user_id', "") + ": " + history[0].get('score',"")}}</li>
          <li>{{history[1].get('user_id', "") + ": " + history[1].get('score',"")}}</li>
          <li>{{history[2].get('user_id', "") + ": " + history[2].get('score',"")}}</li>
          <li>{{history[3].get('user_id', "") + ": " + history[3].get('score',"")}}</li>
          <li>{{history[4].get('user_id', "") + ": " + history[4].get('score',"")}}</li>
        </ul>
      </div>
      <div class="categories_rank">
        <h2>Celebrities</h2>
        <ul>
          <li>{{celebrities[0].get('user_id', "") + ": " + celebrities[0].get('score',"")}}</li>
          <li>{{celebrities[1].get('user_id', "") + ": " + celebrities[1].get('score',"")}}</li>
          <li>{{celebrities[2].get('user_id', "") + ": " + celebrities[2].get('score',"")}}</li>
          <li>{{celebrities[3].get('user_id', "") + ": " + celebrities[3].get('score',"")}}</li>
          <li>{{celebrities[4].get('user_id', "") + ": " + celebrities[4].get('score',"")}}</li>
        </ul>
      </div>
    </div>

  <!-- End Ranking Section -->
  </div>
  </div><br>

<!-- END PAGE CONTENT -->

</div>

</body>
</html>