<!DOCTYPE html>
<html>
<head>
<title>Trivia</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body, h1,h2,h3,h4,h5,h6 {font-family: cursive;}
.w3-row-padding img {margin-bottom: 12px}
.w3-sidebar {width: 120px;background: #222;}
#main {margin-left: 120px}
#enlarge_text{font-size: x-large;font-weight: bolder;}
</style>
</head>
<body class="w3-light-grey">
    <h1>Here are the top rankings</h1><br>
    <h2>{{ranks[0].get('name', "") + ": "ranks[0].get('score',"")}}</h2>
    <h3>{{ranks[1].get('name',"") + ": "ranks[1].get('score',"")}}</h3>
    <h4>{{ranks[2].get('name',"") + ": "ranks[2].get('score',"")}}</h4>
    <h5>{{ranks[3].get('name',"") + ": "ranks[3].get('score',"")}}</h5>
    <h6>{{ranks[4].get('name',"") + ": "ranks[4].get('score',"")}}</h6>
</body>

</html>